@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  background: url(/Calculator/background.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.big-container {
  display: flex;
  width: 620px;
  height: 600px;
  justify-content: space-between;
  align-items: center;
}

.black-container {
  width: 300px;
  height: 600px;

  background: linear-gradient(145deg, #2b2e34, #33373e);
  box-shadow: 28px 28px 64px #1f2125, -28px -28px 64px #41454f;
  padding: 20px;
  border-radius: 40px;
}

.white-container {
  width: 300px;
  height: 600px;
  background-color: #c0c0c0;
}

/* Mic container left-top-corner */
.mic {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  /* background: red; */
}

.mic .mic-container {
  width: 60px;
  height: 50px;
  background-color: #565a63;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px 25px 25px 0;
}

.mic i {
  font-size: 25px;
  color: #a2a6af;
}

/* Display Container */
.display {
  /* background-color: green; */
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
}

.display-count {
  width: 100%;
  height: 60%;
  /* background-color: aqua; */
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 5px 10px;
}

.display-count span {
  font-size: 18px;
  color: #5c606a;
}

.display-result {
  width: 100%;
  height: 40%;
  /* background-color: blue; */
  display: flex;
  align-items: start;
  justify-content: end;
  padding: 0px 5px;
}

.display-result span {
  color: white;
  font-size: 50px;
}

/* Buttons Container */
.buttons-container {
  /* background-color: yellow; */
  width: 100%;
  height: 50%;
}

.first-row,
.second-row,
.third-row,
.forth-row,
.fifth-row {
  width: 100%;
  height: 20%;
  /* background: white; */
  margin: 3px;
  display: flex;
}

.first-row button,
.second-row button,
.third-row button,
.forth-row button,
.fifth-row button {
  font-size: 20px;
  color: #9ea4ac;
  width: 24%;
  margin: 1px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 15px;
  background: linear-gradient(225deg, #292c34, #31343e);
  box-shadow: -28px 28px 64px #1d1f25, 28px -28px 64px #3f434f;
}

.first-row .orange,
.second-row .orange,
.third-row .orange,
.forth-row .orange,
.fifth-row .orange {
    background-color: orangered;
}

.buttons-container button:hover {
  opacity: 0.9;
}
